html, body {
  height: 100%;
  font-family: 'Roboto', sans-serif; }

body {
  margin: 0 0; }

h1, h2, h3, h4, h5, h6 {
  color: #333; }

div {
  color: #555; }

.wrap {
  background: white;
  padding-left: 100px;
  padding-right: 100px;
  display: flex; }

.footer__block {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px; }

.block__title {
  color: none; }

.block__detail .item {
  display: flex;
  flex-direction: row;
  align-items: center; }
  .block__detail .item i {
    text-align: center;
    flex: 1;
    padding: 10px; }
  .block__detail .item p {
    flex: 7; }
  .block__detail .item a {
    flex: 7;
    margin-right: 3px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    color: #FF4338; }
  .block__detail .item.item-rm-left-space i {
    padding-left: 0; }
  .block__detail .item.icon-large i {
    font-size: 2em; }

.social {
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px;
  padding-left: 20px;
  margin-top: 10px; }

.social__icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center; }
  .social__icon > i {
    margin-right: 5px;
    margin-left: 5px;
    font-size: 2em; }
    .social__icon > i:hover {
      background: #b0b0b0;
      color: white;
      border: 1px solid #b0b0b0; }
  .social__icon .icon-box {
    padding: 5px;
    width: 15px;
    height: 15px;
    border: 1px solid #b0b0b0; }
    .social__icon .icon-box:hover {
      background: #b0b0b0; }
      .social__icon .icon-box:hover i {
        color: white; }
