html, body {
  height: 100%;
  font-family: 'Roboto', sans-serif; }

body {
  margin: 0 0; }

html, body {
  height: 100%; }

h1, h2, h3, h4, h5, h6 {
  color: #333; }

table, th, td {
  border-collapse: collapse; }

td {
  border: 1px solid #b0b0b0;
  padding: 10px 20px;
  border-collapse: collapse; }

div {
  color: #555; }

a {
  text-decoration: none; }

.wrap {
  max-width: 1200px;
  margin: 0 auto; }

.shadow {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); }

.panel {
  background-color: white; }

.responsive-image {
  display: block;
  width: 100%;
  height: auto; }

.link-is-active {
  background: #2cc17e; }

.top-bar {
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .top-bar .bar__item {
    text-align: center;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
  .top-bar .bar__logo p {
    font-size: 3em;
    margin: 12px 0px;
    color: white; }
    .top-bar .bar__logo p span {
      font-weight: bold;
      color: #2cc17e; }
  .top-bar .bar__button button {
    border: none;
    background: #2cc17e;
    padding: 10px 20px;
    color: white;
    -webkit-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out; }
    .top-bar .bar__button button:hover {
      background: #239763;
      color: black; }

#main-menu.fix-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background: white;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.21); }
  #main-menu.fix-top ul {
    margin: 0; }

#main-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  margin: 10px 0px;
  text-align: center;
  padding: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid rgba(176, 176, 176, 0.2); }
  #main-menu ul li {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
    #main-menu ul li a {
      display: block;
      text-decoration: none;
      color: #555;
      padding: 20px 20px;
      -webkit-transition: background-color 0.2s ease-in-out;
      transition: background-color 0.2s ease-in-out; }
      #main-menu ul li a:hover {
        background: #2cc17e;
        color: white; }
  #main-menu ul .menu-function {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
    #main-menu ul .menu-function .menu-function-item {
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      position: relative; }
      #main-menu ul .menu-function .menu-function-item a {
        padding: 0; }
        #main-menu ul .menu-function .menu-function-item a:hover {
          background: #edf5f1;
          color: #ff4949; }
      #main-menu ul .menu-function .menu-function-item i {
        width: 100%;
        height: 100%;
        display: table;
        box-sizing: border-box;
        padding: 10px; }
      #main-menu ul .menu-function .menu-function-item .function-detail {
        width: 400px;
        z-index: 1000;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
        background: white;
        position: absolute;
        padding: 0 5px;
        padding-top: 5px;
        top: 40px;
        right: -1000px;
        opacity: 0;
        text-align: center;
        -webkit-transition: right 0.5s ease-in-out, opacity 0.5s ease-in-out;
        transition: right 0.5s ease-in-out, opacity 0.5s ease-in-out; }
        #main-menu ul .menu-function .menu-function-item .function-detail:last-child {
          border-bottom: none; }
        #main-menu ul .menu-function .menu-function-item .function-detail .detail-section {
          max-height: 400px;
          overflow-y: scroll; }
        #main-menu ul .menu-function .menu-function-item .function-detail .info-items {
          width: 100%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          border-bottom: 1px solid #b0b0b0; }
          #main-menu ul .menu-function .menu-function-item .function-detail .info-items .info-img {
            flex-basic: 3;
            width: 30%; }
          #main-menu ul .menu-function .menu-function-item .function-detail .info-items .info-detail {
            flex-basic: 7;
            width: 70%;
            text-align: left;
            height: 100%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between; }
            #main-menu ul .menu-function .menu-function-item .function-detail .info-items .info-detail:nth-child(n) {
              height: 100%;
              -webkit-box-flex: 1;
                  -ms-flex-positive: 1;
                      flex-grow: 1; }
            #main-menu ul .menu-function .menu-function-item .function-detail .info-items .info-detail p {
              margin: 5px; }
            #main-menu ul .menu-function .menu-function-item .function-detail .info-items .info-detail .size {
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-align: center;
                  -ms-flex-align: center;
                      align-items: center; }
        #main-menu ul .menu-function .menu-function-item .function-detail button {
          width: 100%;
          border: none;
          margin: 5px 0;
          padding: 5px 0;
          color: white;
          background: #2cc17e; }
      #main-menu ul .menu-function .menu-function-item:hover {
        background: #2cc17e;
        color: white;
        box-shadow: inset 0px 1px 3px #777777; }
        #main-menu ul .menu-function .menu-function-item:hover .function-detail {
          right: 0;
          opacity: 1; }

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .banner .slide_container {
    -ms-flex-preferred-size: 80%;
        flex-basis: 80%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 800px; }
  .banner .image-link {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin-left: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    background: #e6e6e6; }
    .banner .image-link .sale-info {
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%;
      margin-bottom: 10px; }
      .banner .image-link .sale-info.image-info {
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%; }
      .banner .image-link .sale-info:nth-of-type(2) {
        margin-bottom: 0;
        margin-right: 10px; }
      .banner .image-link .sale-info:nth-of-type(3) {
        margin-bottom: 0; }

#slider {
  max-width: 700px;
  text-align: center;
  margin: 0;
  position: relative; }

#overflow {
  width: 100%;
  overflow: hidden; }

#slides .inner {
  width: 400%; }

#slides img {
  display: block; }

.slide-indicate {
  width: 100%;
  position: absolute;
  bottom: 5px;
  text-align: center; }

#slides .inner {
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
          transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1); }

#slides article {
  width: 25%;
  float: left; }

#slide1:checked ~ #slides .inner {
  margin-left: 0; }

#slide2:checked ~ #slides .inner {
  margin-left: -100%; }

#slide3:checked ~ #slides .inner {
  margin-left: -200%; }

#slide4:checked ~ #slides .inner {
  margin-left: -300%; }

input[type="radio"] {
  display: none; }

label {
  background: #CCC;
  display: inline-block;
  cursor: pointer;
  width: 10px;
  height: 10px;
  border-radius: 5px; }

#slide1:checked ~ label[for="slide1"],
#slide2:checked ~ label[for="slide2"],
#slide3:checked ~ label[for="slide3"],
#slide4:checked ~ label[for="slide4"] {
  background: #333; }

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid rgba(176, 176, 176, 0.2);
  margin-top: 10px;
  padding-top: 10px; }

.content__left {
  width: 30%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid rgba(176, 176, 176, 0.2); }
  .content__left .box {
    width: 100%;
    height: 80%;
    background: #e6e6e6; }

#content__right {
  flex-row: 1;
  width: 70%; }

.content__right__item {
  border-bottom: 1px solid rgba(176, 176, 176, 0.2);
  margin-top: 10px; }
  .content__right__item:first-child {
    margin-top: 0px; }
  .content__right__item:last-child {
    border-bottom: none; }
  .content__right__item .item-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-weight: bold;
    margin-bottom: 10px; }
    .content__right__item .item-title p {
      margin: 0;
      border-box: box-sizing;
      padding: 5px 0;
      font-size: 1.2em; }
    .content__right__item .item-title button {
      border: none;
      font-size: 0.8em;
      padding: 0px 8px;
      background: white;
      color: #979797;
      border: 1px solid #b0b0b0; }
      .content__right__item .item-title button:hover {
        background: #2cc17e;
        color: white; }

.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: -10px 0 0 -10px;
  z-index: 100; }
  .products.show-more {
    heigth: auto;
    overflow: visible; }
  .products.show-less {
    heigth: 100px;
    overflow: hidden; }

.product__block {
  position: relative;
  z-index: 200;
  box-sizing: border-box;
  width: calc(99.9% * 1/4 - (10px - 10px * 1/4));
  margin-bottom: 10px; }

.product__block:nth-child(1n) {
  float: left;
  margin-right: 10px;
  clear: none; }

.product__block:last-child {
  margin-right: 0; }

.product__block:nth-child(4n) {
  margin-right: 0;
  float: right; }

.product__block:nth-child(4n + 1) {
  clear: both; }

.block__top {
  position: relative; }
  .block__top .block__image {
    position: relative; }
    .block__top .block__image img {
      display: block; }
    .block__top .block__image .addition {
      height: 100%;
      position: absolute;
      left: 0;
      bottom: 0;
      opacity: 0;
      -webkit-transition: opacity 0.3s ease-in-out;
      transition: opacity 0.3s ease-in-out; }
  .block__top .block__button {
    width: 100%;
    position: absolute;
    bottom: 0;
    opacity: 0;
    -webkit-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out; }
    .block__top .block__button button {
      width: 100%;
      border: none;
      background: #2cc17e;
      padding: 7px;
      text-transform: uppercase;
      font-weight: bold;
      color: white; }
      .block__top .block__button button:hover {
        background: #1e8355; }
  .block__top .block__function {
    position: absolute;
    left: 0;
    bottom: 35px;
    color: white;
    text-align: center;
    width: 30px;
    opacity: 0;
    -webkit-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
    background: rgba(44, 193, 126, 0.3); }
    .block__top .block__function > div {
      position: relative;
      width: 30px;
      line-height: 30px;
      -webkit-transition: background 0.2s ease-in-out;
      transition: background 0.2s ease-in-out; }
      .block__top .block__function > div a {
        color: white;
        font-size: 0.7em; }
        .block__top .block__function > div a .fa {
          color: white;
          font-weight: 50; }
      .block__top .block__function > div > span {
        display: none;
        position: absolute;
        opacity: 0;
        background: white;
        width: 100px;
        font-size: 0.7em;
        color: #b0b0b0;
        top: -10px;
        left: 35px;
        line-height: 31px;
        -webkit-transform: scale(1/4, 1/4);
                transform: scale(1/4, 1/4);
        -webkit-transition: top 0.2s ease-in-out, opacity 0.2s ease-in-out;
        transition: top 0.2s ease-in-out, opacity 0.2s ease-in-out; }
        .block__top .block__function > div > span::before {
          display: block;
          position: absolute;
          content: " ";
          width: 0;
          height: 0;
          border-top: 5px solid transparent;
          border-right: 5px solid white;
          border-bottom: 5px solid transparent;
          left: -5px;
          top: 10px; }
      .block__top .block__function > div:hover {
        background: #2cc17e; }
        .block__top .block__function > div:hover a {
          color: white; }
        .block__top .block__function > div:hover > span {
          display: block;
          opacity: 0.8;
          -webkit-transform: scale(1, 1);
                  transform: scale(1, 1);
          top: 0; }
  .block__top .block__status {
    position: absolute;
    left: 0;
    top: 5px;
    background: #21a56f;
    color: white;
    padding: 5px 10px; }
    .block__top .block__status p {
      margin: 0;
      font-size: 0.8em; }
    .block__top .block__status::before {
      position: absolute;
      content: " ";
      width: 0;
      height: 0;
      border-top: 12px solid transparent;
      border-left: 10px solid #21a56f;
      border-bottom: 12px solid transparent;
      right: -10px;
      top: 0px; }
    .block__top .block__status.out {
      background: #ffbe00; }
      .block__top .block__status.out::before {
        border-left: 10px solid #ffbe00; }

.product__block:hover .block__button {
  opacity: 1; }
  .product__block:hover .block__button button {
    z-index: 5; }

.product__block:hover .block__image .addition {
  opacity: 1; }

.product__block:hover .block__function {
  opacity: 1; }

.block__bottom {
  z-index: 100;
  padding: 0 10px; }
  .block__bottom .block__bottom-item {
    margin: 0; }
    .block__bottom .block__bottom-item .fa {
      color: #ffbe00; }
  .block__bottom .block__comment {
    margin: 5px 0; }
  .block__bottom .block__desc {
    text-transform: capitalize; }

footer {
  z-index: 9999; }

.footer-wrap {
  background: white;
  padding-left: 100px;
  padding-right: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid rgba(176, 176, 176, 0.2);
  margin-top: 10px; }

.footer__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 10px;
  padding-right: 10px; }

.block__title {
  color: none; }

.block__detail .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .block__detail .item i {
    text-align: center;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 10px; }
  .block__detail .item p {
    -webkit-box-flex: 7;
        -ms-flex: 7;
            flex: 7; }
  .block__detail .item a {
    -webkit-box-flex: 7;
        -ms-flex: 7;
            flex: 7;
    margin-right: 3px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    color: #2cc17e; }
  .block__detail .item.item-rm-left-space i {
    padding-left: 0; }
  .block__detail .item.icon-large i {
    font-size: 2em; }

.social {
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 20px;
  padding-left: 20px;
  margin-top: 10px; }

.social__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center; }
  .social__icon > i {
    margin-right: 5px;
    margin-left: 5px;
    font-size: 2em; }
    .social__icon > i:hover {
      background: #b0b0b0;
      color: white;
      border: 1px solid #b0b0b0; }
  .social__icon .icon-box {
    padding: 5px;
    width: 15px;
    height: 15px;
    border: 1px solid #b0b0b0; }
    .social__icon .icon-box:hover {
      background: #b0b0b0; }
      .social__icon .icon-box:hover i {
        color: white; }
