html, body {
  height: 100%;
  font-family: 'Roboto', sans-serif; }

body {
  margin: 0 0; }

html, body {
  height: 100%; }

h1, h2, h3, h4, h5, h6 {
  color: #333; }

table {
  border-collapse: collapse; }

table, th, td {
  border: 1px solid #b0b0b0; }

td {
  padding: 10px 20px; }

div {
  color: #555; }

.wrap {
  max-width: 1200px;
  margin: 0 auto; }

.shadow {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); }

.panel {
  background-color: white; }

.top-bar {
  background: black;
  display: flex;
  align-items: center; }
  .top-bar .bar__item {
    text-align: center;
    flex-grow: 1; }
  .top-bar .bar__logo > p {
    font-size: 3em;
    margin: 20px 0px; }
    .top-bar .bar__logo > p span {
      font-weight: bold;
      color: #FF4338; }
  .top-bar .bar__button button {
    border: none;
    background: white;
    padding: 10px 20px; }

.main-menu ul {
  display: flex;
  list-style-type: none;
  margin: 10px 0px;
  text-align: center;
  padding: 0;
  justify-content: space-between;
  border-bottom: 1px solid #b0b0b0; }
  .main-menu ul li {
    flex-grow: 1; }
    .main-menu ul li a {
      display: block;
      text-decoration: none;
      color: #555;
      padding: 20px 20px;
      transition: background-color 0.2s ease-in-out; }
      .main-menu ul li a:hover {
        background: #FF4338;
        color: white; }
