html, body {
  height: 100%;
  font-family: 'Roboto', sans-serif; }

body {
  margin: 0 0; }

html, body {
  height: 100%; }

h1, h2, h3, h4, h5, h6 {
  color: #333; }

table, th, td {
  border-collapse: collapse; }

td {
  border: 1px solid #b0b0b0;
  padding: 10px 20px;
  border-collapse: collapse; }

div {
  color: #555; }

a {
  text-decoration: none; }

.wrap {
  max-width: 1200px;
  margin: 0 auto; }

.shadow {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); }

.panel {
  background-color: white; }

.responsive-image {
  display: block;
  width: 100%;
  height: auto; }

.link-is-active {
  background: #2cc17e; }

html, body {
  font-family: "Arial", "Times New Roman"; }

.img-responsive {
  width: 100%;
  heigth: auto; }

.top-bar {
  background: #333033;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .top-bar .bar__item {
    text-align: center;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
  .top-bar .bar__logo p {
    font-size: 3em;
    margin: 12px 0px;
    color: white; }
    .top-bar .bar__logo p span {
      font-weight: bold;
      color: #2cc17e; }
  .top-bar .bar__hotline {
    text-transform: uppercase;
    color: #2cc17e;
    font-size: 1.5em; }
    .top-bar .bar__hotline p {
      margin: 0; }
      .top-bar .bar__hotline p span {
        color: white;
        font-weight: bold; }
  .top-bar .bar__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .top-bar .bar__button .btn {
      margin-right: 20px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      text-decoration: none;
      color: white;
      text-shadow: 0 1px black; }
      .top-bar .bar__button .btn .box-and-shadow {
        color: white;
        background: #2cc17e;
        padding: 10px 15px; }
        .top-bar .bar__button .btn .box-and-shadow.left {
          border-top-left-radius: 4px;
          border-bottom-left-radius: 4px; }
        .top-bar .bar__button .btn .box-and-shadow.right {
          border-top-right-radius: 4px;
          border-bottom-right-radius: 4px; }
        .top-bar .bar__button .btn .box-and-shadow.darken-color {
          background: #27ac70; }
      .top-bar .bar__button .btn:hover .box-and-shadow {
        background: #27ac70; }
      .top-bar .bar__button .btn:hover .darken-color {
        background: #239763; }

#main-menu.fix-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background: white;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.21); }
  #main-menu.fix-top ul {
    margin: 0; }

#main-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  margin: 10px 0px;
  text-align: center;
  padding: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid rgba(176, 176, 176, 0.2); }
  #main-menu ul li {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
    #main-menu ul li a {
      display: block;
      text-decoration: none;
      color: #555;
      padding: 20px 20px;
      -webkit-transition: background-color 0.2s ease-in-out;
      transition: background-color 0.2s ease-in-out; }
      #main-menu ul li a:hover {
        background: #2cc17e;
        color: white; }
  #main-menu ul .menu-function {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
    #main-menu ul .menu-function .menu-function-item {
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      position: relative; }
      #main-menu ul .menu-function .menu-function-item a {
        padding: 0; }
        #main-menu ul .menu-function .menu-function-item a:hover {
          background: #edf5f1;
          color: #ff4949; }
      #main-menu ul .menu-function .menu-function-item i {
        width: 100%;
        height: 100%;
        display: table;
        box-sizing: border-box;
        padding: 10px; }
      #main-menu ul .menu-function .menu-function-item .function-detail {
        width: 400px;
        z-index: 1000;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
        background: white;
        position: absolute;
        padding: 0 5px;
        padding-top: 5px;
        top: 40px;
        right: -1000px;
        opacity: 0;
        text-align: center;
        -webkit-transition: right 0.5s ease-in-out, opacity 0.5s ease-in-out;
        transition: right 0.5s ease-in-out, opacity 0.5s ease-in-out; }
        #main-menu ul .menu-function .menu-function-item .function-detail:last-child {
          border-bottom: none; }
        #main-menu ul .menu-function .menu-function-item .function-detail .detail-section {
          max-height: 400px;
          overflow-y: scroll; }
        #main-menu ul .menu-function .menu-function-item .function-detail .info-items {
          width: 100%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          border-bottom: 1px solid #b0b0b0; }
          #main-menu ul .menu-function .menu-function-item .function-detail .info-items .info-img {
            flex-basic: 3;
            width: 30%; }
          #main-menu ul .menu-function .menu-function-item .function-detail .info-items .info-detail {
            flex-basic: 7;
            width: 70%;
            text-align: left;
            height: 100%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between; }
            #main-menu ul .menu-function .menu-function-item .function-detail .info-items .info-detail:nth-child(n) {
              height: 100%;
              -webkit-box-flex: 1;
                  -ms-flex-positive: 1;
                      flex-grow: 1; }
            #main-menu ul .menu-function .menu-function-item .function-detail .info-items .info-detail p {
              margin: 5px; }
            #main-menu ul .menu-function .menu-function-item .function-detail .info-items .info-detail .size {
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-align: center;
                  -ms-flex-align: center;
                      align-items: center; }
        #main-menu ul .menu-function .menu-function-item .function-detail button {
          width: 100%;
          border: none;
          margin: 5px 0;
          padding: 5px 0;
          color: white;
          background: #2cc17e; }
      #main-menu ul .menu-function .menu-function-item:hover {
        background: #2cc17e;
        color: white;
        box-shadow: inset 0px 1px 3px #777777; }
        #main-menu ul .menu-function .menu-function-item:hover .function-detail {
          right: 0;
          opacity: 1; }

.product__title {
  width: 1200px;
  margin: 10px auto;
  font-size: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .product__title h3 {
    display: table;
    padding-bottom: 5px;
    border-bottom: 2px solid #555; }

.product {
  width: 1200px;
  margin: 10px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .product > div {
    width: 100%;
    margin-right: 10px; }

#product__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  #product__img .more__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    #product__img .more__img .img-item {
      margin: 5px 5px;
      flex-basic: 1;
      lost-cloumn: 1/6 6 10px; }
    #product__img .more__img img {
      width: 100%;
      height: auto; }

.product__detail {
  padding-left: 10px; }
  .product__detail form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    padding-right: 10px;
    padding-left: 10px; }
    .product__detail form:nth-child(n) {
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
      color: #505050; }
    .product__detail form .form-control {
      padding: 3px 5px;
      text-align: center; }

.detail_grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 14.28571%; }
  .detail_grid .label {
    position: relative;
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
    font-weight: bold; }
    .detail_grid .label::after {
      position: absolute;
      content: ":";
      right: 10px; }
  .detail_grid .info {
    -webkit-box-flex: 7;
        -ms-flex: 7;
            flex: 7; }

.form_btn {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%; }
  .form_btn button {
    border: none;
    padding: 10px;
    margin-right: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: bold;
    background-color: #2cc17e;
    color: white; }
    .form_btn button:hover {
      background-color: #239763; }
    .form_btn button i {
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
      padding: 10px; }

#suggest_list {
  border: 1px solid grey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 5px;
  padding-bottom: 0; }
  #suggest_list .list_wrap {
    position: relative; }
  #suggest_list .list_item {
    position: relative;
    width: calc(99.9% * 1/3 - (10px - 10px * 1/3)); }
  #suggest_list .list_item:nth-child(1n) {
  float: left;
  margin-right: 10px;
  clear: none; }
  #suggest_list .list_item:last-child {
  margin-right: 0; }
  #suggest_list .list_item:nth-child(3n) {
  margin-right: 0;
  float: right; }
  #suggest_list .list_item:nth-child(3n + 1) {
  clear: both; }
    #suggest_list .list_item .item_detail {
      position: absolute;
      box-sizing: border-box;
      top: 0;
      left: 0;
      opacity: 0;
      padding: 0 5px;
      background: rgba(255, 255, 255, 0.51);
      height: 100%;
      text-transform: capitalize;
      -webkit-transition: opacity 0.2s ease-in-out;
      transition: opacity 0.2s ease-in-out; }
      #suggest_list .list_item .item_detail h5 {
        width: 100%; }
    #suggest_list .list_item:hover .item_detail {
      opacity: 1; }

html, body {
  height: 100%;
  font-family: 'Roboto', sans-serif; }

body {
  margin: 0 0; }

h1, h2, h3, h4, h5, h6 {
  color: #333; }

div {
  color: #555; }

.footer-wrap {
  background: white;
  padding-left: 100px;
  padding-right: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid rgba(176, 176, 176, 0.2);
  margin-top: 10px; }

.footer__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 10px;
  padding-right: 10px; }

.block__title {
  color: none; }

.block__detail .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .block__detail .item i {
    text-align: center;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 10px; }
  .block__detail .item p {
    -webkit-box-flex: 7;
        -ms-flex: 7;
            flex: 7; }
  .block__detail .item a {
    -webkit-box-flex: 7;
        -ms-flex: 7;
            flex: 7;
    margin-right: 3px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    color: #e8003f; }
  .block__detail .item.item-rm-left-space i {
    padding-left: 0; }
  .block__detail .item.icon-large i {
    font-size: 2em; }

.social {
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 20px;
  padding-left: 20px;
  margin-top: 10px; }

.social__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center; }
  .social__icon > i {
    margin-right: 5px;
    margin-left: 5px;
    font-size: 2em; }
    .social__icon > i:hover {
      background: #b0b0b0;
      color: white;
      border: 1px solid #b0b0b0; }
  .social__icon .icon-box {
    padding: 5px;
    width: 15px;
    height: 15px;
    border: 1px solid #b0b0b0; }
    .social__icon .icon-box:hover {
      background: #b0b0b0; }
      .social__icon .icon-box:hover i {
        color: white; }
