#main-menu
	&.fix-top
		position: fixed
		top: 0
		left: 0
		width: 100%
		z-index: 999
		background: white
		box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.21)
		ul 
			margin: 0

#main-menu
	ul 
		display: flex
		list-style-type: none
		margin: 10px 0px
		text-align: center
		padding: 0
		justify-content: space-between

		border-bottom: 1px solid $grey_op

		li
			flex-grow: 1
			a 
				display: block
				text-decoration: none
				color: $text
				padding: 20px 20px

				transition: background-color 0.2s ease-in-out
				&:hover
					background: $highlight
					color: white
