@import 'color'
@import 'bg'
@import 'global'

// top bar
.top-bar
	background: black
	display: flex 
	align-items: center

	.bar__item
		text-align: center
		flex-grow: 1
	.bar__logo
		> p
			font-size: 3em
			margin: 12px 0px
			color: white
			span
				font-weight: bold
				color: $highlight
	.bar__hotline

	.bar__button
		button
			border: none
			background: white 
			padding: 10px 20px
// main menu
.main-menu
	ul 
		display: flex
		list-style-type: none
		margin: 10px 0px
		text-align: center
		padding: 0
		justify-content: space-between

		border-bottom: 1px solid $grey

		li
			flex-grow: 1
			a 
				display: block
				text-decoration: none
				color: $text
				padding: 20px 20px

				transition: background-color 0.2s ease-in-out
				&:hover
					background: $highlight
					color: white


// content
.content
	display: flex
	border-top: 1px solid $grey
	margin-top: 10px
	padding-top: 10px

.content__left
	width: 30%
	flex-grow: 1

.content__right
	flex-row: 1
	width: 70%

.products
	display: flex	
	flex-wrap: wrap
	padding: -10px 0 0 -10px

.product__block
	position: relative
	z-index: 200
	box-sizing: border-box
	lost-column: 1/4 4 10px
	margin-bottom: 10px

.block__top
	position: relative

	.block__image
		position: relative
		img 
			display: block
		.addition
			height: 100%
			position: absolute
			left: 0
			bottom: 0
			opacity: 0
			transition: opacity 0.3s ease-in-out
		
	.block__button
		width: 100%
		position: absolute
		bottom: 0
		opacity: 0
		transition: opacity 0.2s ease-in-out

		button
			width: 100%
			border: none
			background: $highlight
			padding: 7px
			text-transform: uppercase
			font-weight: bold
			color: white
			&:hover
				background: darken($highlight, 15%)

	.block__function
		position: absolute
		left: 0
		bottom: 35px
		color: white
		text-align: center
		width: 30px		
		opacity: 0
		transition: opacity 0.2s ease-in-out

		> div
			width: 30px
			line-height: 30px

			a 
				color: $grey
				font-size: 0.7em

			&:hover
				background: $highlight
				a 
					color: white

	.block__status
		position: absolute
		left: 0
		top: 0px
		background: red 
		color: white
		padding: 5px 10px
		p 
			margin: 0
			font-size: 0.8em

// product hover handle
.product__block
	&:hover
		.block__button
			opacity: 1
			button 
				z-index: 5
		.block__image
			.addition
				opacity: 1

		.block__function
			opacity: 1


				


.block__bottom
	z-index: 100




// footer
.footer-wrap
	background: white
	padding-left: 100px
	padding-right: 100px
	display: flex
	border-top: 1px solid $grey


.footer__block
	display: flex 
	flex: 1
	flex-direction: column

	padding-left: 10px
	padding-right: 10px

.block__title
	color: none

.block__detail
	
	.item
		display: flex 
		flex-direction: row
		align-items: center

		i 
			text-align: center
			flex: 1
			padding: 10px

		p 
			flex: 7

		a 
			flex: 7
			margin-right: 3px
			margin-top: 10px
			margin-bottom: 10px
			text-decoration: none

			color: $highlight

		&.item-rm-left-space
			i
				padding-left: 0
		&.icon-large
			i 
				font-size: 2em

.social
	background: white
	display: flex 
	align-items: center
	justify-content: space-between
	padding-right: 20px
	padding-left: 20px
	margin-top: 10px

.social__icon
	display: flex
	justify-content: space-between
	align-items: center
	text-align: center

	> i 
		margin-right: 5px
		margin-left: 5px
		font-size: 2em
		&:hover
			background: $grey 
			color: white 
			border: 1px solid $grey

	.icon-box
		padding: 5px
		width: 15px
		height: 15px
		border: 1px solid $grey



		&:hover
			background: $grey
			i 
				color: white