@import 'Global'

html, body
	font-family: "Arial", "Times New Roman"

.img-responsive
	width: 100%
	heigth: auto


// top bar
@import 'components/top-bar'
// main menu
@import 'components/main-menu'


// product detail
.product
	width: 1200px
	margin: 10px auto
	display: flex

	> div
		width: 100%
		margin-right: 10px

#product__img
	display: flex
	flex-direction: column
	//flex: 1
	
	.more__img
		display: flex
		align-items: center
		.img-item
			margin: 5px 5px		
			flex-basic: 1
			lost-cloumn: 1/6 6 10px
		img
			width: 100%
			height: auto


.product__detail
	padding-left: 10px
	form 
		display: flex
		flex-direction: column
		height: 100%
		padding-right: 10px
		padding-left: 10px

		&:nth-child(n)
			flex: 1
			color: #505050
		.form-control
			padding: 3px 5px
			text-align: center
.detail_grid
	display: flex
	flex: 1
	align-items: center
	justify-content: center
	height: (100%/7)

	.label
		position: relative
		flex: 3
		font-weight: bold
		&::after
			position: absolute
			content: ":"
			right: 10px

	.info
		flex: 7

.form_btn
	flex-grow: 1
	display: flex
	align-items: center
	justify-content: center
	height: 100%

	button 
		border: none
		padding: 10px
		margin-right: 10px
		display: flex
		text-align: center
		align-items: center
		font-weight: bold
		background-color: $highlight
		color: white

		&:hover
			background-color: darken($highlight, 10%)

		i 
			flex: 1
			padding: 10px	

@import 'footer'