<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="../css/font-awesome.css">
		<link rel="stylesheet" href="../css/normalize.css">
		<link rel="stylesheet" href="../css/bag.css">
		<link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">

	</head>

	<body>
		<div class="container">
			<div class="wrap">
				<div class="bag shadow">
					<div class="customer-info">
						<div class="info__title">
							<i class="fa fa-truck"></i>
							<p>GIAO HÀNG TỚI</p>
						</div>

						<div class="info__note">
							<p>Bạn vui lòng điền đầy đủ thông tin bên dưới</p>
						</div>

						<div class="info__form">
							
							<div class="form__item">
								<label for="">Họ Tên</label>
								<input type="text">
							</div>

							<div class="form__item">
								<label for="">Điện thoại</label>
								<input type="text">
							</div>

							<div class="form__item">
								<label for="">Tỉnh/Thành phố</label>
								<input type="text">
							</div>

							<div class="form__item">
								<label for="">Quận/Huyện</label>
								<input type="text">
							</div>

							<div class="form__item">
								<label for="">Địa chỉ</label>
								<input type="text">
							</div>

							<div class="form__item">
								<label for="">Ghi chú</label>
								<input type="text">
							</div>

						</div>
					</div>	

					<div class="product-list">
						<div class="list__title">
							<i class="fa fa-product-hunt"></i>
							<p>SẢN PHẨM ĐÃ CHỌN</p>
						</div>

						<div class="list__table">
							<table style="width: 100%">
								<tbody> 	
									<tr>
										<th>Sản phẩm</th>
										<th>Xóa</th>
										<th>Giá Tiền</th>
										<th>Số lượng</th>
										<th>Thành tiền</th>
									</tr>
									<tr>
										<td rowspan="3">
											<img src="#" alt="">
										</td>
										<td>X</td>
										<td>200.000 đ</td>
										<td>1</td>
										<td>200.000 đ</td>
									</tr>
										
									<tr>
										<td class="cell-connect" colspan="5"> 
											<strong>Chọn màu sắc:</strong>
											<select name="" id="">
												<option selected value="">option 1</option>
												<option value="">option 1</option>
												<option value="">option 1</option>
												<option value="">option 1</option>
												<option value="">option 1</option>
											</select>
										</td>
									</tr>
										<td class="cell-connect" colspan="5">
											<strong>Sản phẩm</strong>
										</td>
									<tr>
										
									</tr>
								</tbody>
							</table>
						</div>
						
						<div class="list__check">
							<div class="gift-code">
								<input type="text" placeholder="nhập mã khuyến mãi nếu có">
							</div>
							<div class="total-check">
								<ul>
									<li>
										<label for="">Tổng thành tiền:</label>
										<p> 200.000 đ</p>
									</li>

									<li>
										<label for="">Giảm giá:</label>
										<p> 0 đ</p>
									</li>

									<li>
										<label for="">Phí vận chuyển:</label>
										<p> 200.000 đ</p>
									</li>

									<li>
										<label for="">Tổng Cộng:</label>
										<p style="color: red; font-weight: bold">200.000 đ</p>
									</li>
								</ul>
							</div>
						</div>
							
						<div class="list__button">
							<button class="">Tiếp tục mua hàng</button>
							<button class="highlight">Đặt hàng ngay</button>
						</div>
					</div>
				</div>
				

				

			</div>
		</div>
		
	</body>


</html>